apiVersion: v1
kind: Namespace
metadata:
  labels:
    control-plane: controller-manager
  name: kms-issuer-system
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: kmsissuers.cert-manager.skyscanner.net
spec:
  group: cert-manager.skyscanner.net
  names:
    kind: KMSIssuer
    listKind: KMSIssuerList
    plural: kmsissuers
    singular: kmsissuer
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: KMSIssuer is the Schema for the kmsissuers API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: KMSIssuerSpec defines the desired state of KMSIssuer
          properties:
            commonName:
              description: 'CommonName is a common name to be used on the Certificate. The CommonName should have a length of 64 characters or fewer to avoid generating invalid CSRs. This value is ignored by TLS clients when any subject alt name is set. This is x509 behaviour: https://tools.ietf.org/html/rfc6125#section-6.4.4'
              type: string
            duration:
              description: Certificate default Duration
              type: string
            keyId:
              description: KeyID is the unique identifier for the customer master key (CMK) deletion. When unspecified, a RSA 2048 key is created and managed by the operator.
              type: string
          type: object
        status:
          description: KMSIssuerStatus defines the observed state of KMSIssuer
          properties:
            certificate:
              description: Byte slice containing a PEM encoded signed certificate of the CA
              format: byte
              type: string
            conditions:
              items:
                description: Condition contains condition information.
                properties:
                  lastTransitionTime:
                    description: LastTransitionTime is the timestamp corresponding to the last status change of this condition.
                    format: date-time
                    type: string
                  message:
                    description: Message is a human readable description of the details of the last transition, complementing reason.
                    type: string
                  reason:
                    description: Reason is a brief machine readable explanation for the condition's last transition.
                    type: string
                  status:
                    allOf:
                    - enum:
                      - "True"
                      - "False"
                      - Unknown
                    - enum:
                      - "True"
                      - "False"
                      - Unknown
                    description: Status of the condition, one of ('True', 'False', 'Unknown').
                    type: string
                  type:
                    description: Type of the condition, currently ('Ready').
                    enum:
                    - Ready
                    type: string
                required:
                - status
                - type
                type: object
              type: array
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: kmskeys.cert-manager.skyscanner.net
spec:
  group: cert-manager.skyscanner.net
  names:
    kind: KMSKey
    listKind: KMSKeyList
    plural: kmskeys
    singular: kmskey
  scope: Cluster
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: KMSKey is the Schema for the kmskeys API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: KMSKeySpec defines the desired state of KMSKey
          properties:
            aliasName:
              description: AliasName Specifies the alias name for the kms key. This value must begin with alias/ followed by a name, such as alias/ExampleAlias.
              type: string
            customerMasterKeySpec:
              description: CustomerMasterKeySpec determines the signing algorithms that the CMK supports. Only RSA_2048 is currently supported.
              type: string
            deletionPendingWindowInDays:
              description: This value is optional. If you include a value, it must be between 7 and 30, inclusive. If you do not include a value, it defaults to 30.
              type: integer
            deletionPolicy:
              description: DeletionPolicy to deletes the alias and key on object deletion.
              enum:
              - Retain
              - Delete
              type: string
            description:
              description: Description for the key
              type: string
            policy:
              description: The key policy to attach to the CMK
              type: string
            tags:
              additionalProperties:
                type: string
              description: Tags is a list of tags for the key
              type: object
          required:
          - aliasName
          type: object
        status:
          description: KMSKeyStatus defines the observed state of KMSKey
          properties:
            conditions:
              items:
                description: Condition contains condition information.
                properties:
                  lastTransitionTime:
                    description: LastTransitionTime is the timestamp corresponding to the last status change of this condition.
                    format: date-time
                    type: string
                  message:
                    description: Message is a human readable description of the details of the last transition, complementing reason.
                    type: string
                  reason:
                    description: Reason is a brief machine readable explanation for the condition's last transition.
                    type: string
                  status:
                    allOf:
                    - enum:
                      - "True"
                      - "False"
                      - Unknown
                    - enum:
                      - "True"
                      - "False"
                      - Unknown
                    description: Status of the condition, one of ('True', 'False', 'Unknown').
                    type: string
                  type:
                    description: Type of the condition, currently ('Ready').
                    enum:
                    - Ready
                    type: string
                required:
                - status
                - type
                type: object
              type: array
            keyId:
              description: KeyID is the unique identifier for the customer master key (CMK)
              type: string
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kms-issuer-leader-election-role
  namespace: kms-issuer-system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - configmaps/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: kms-issuer-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - cert-manager.io
  resources:
  - certificaterequests
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificaterequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - cert-manager.skyscanner.net
  resources:
  - kmsissuers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.skyscanner.net
  resources:
  - kmsissuers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - cert-manager.skyscanner.net
  resources:
  - kmskeys
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.skyscanner.net
  resources:
  - kmskeys/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kms-issuer-proxy-role
rules:
- apiGroups:
  - authentication.k8s.io
  resources:
  - tokenreviews
  verbs:
  - create
- apiGroups:
  - authorization.k8s.io
  resources:
  - subjectaccessreviews
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: kms-issuer-metrics-reader
rules:
- nonResourceURLs:
  - /metrics
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kms-issuer-leader-election-rolebinding
  namespace: kms-issuer-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kms-issuer-leader-election-role
subjects:
- kind: ServiceAccount
  name: default
  namespace: kms-issuer-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kms-issuer-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kms-issuer-manager-role
subjects:
- kind: ServiceAccount
  name: default
  namespace: kms-issuer-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kms-issuer-proxy-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kms-issuer-proxy-role
subjects:
- kind: ServiceAccount
  name: default
  namespace: kms-issuer-system
---
apiVersion: v1
kind: Service
metadata:
  labels:
    control-plane: controller-manager
  name: kms-issuer-controller-manager-metrics-service
  namespace: kms-issuer-system
spec:
  ports:
  - name: https
    port: 8443
    targetPort: https
  selector:
    control-plane: controller-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    control-plane: controller-manager
  name: kms-issuer-controller-manager
  namespace: kms-issuer-system
spec:
  replicas: 1
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      labels:
        control-plane: controller-manager
    spec:
      containers:
      - args:
        - --metrics-addr=127.0.0.1:8080
        - --enable-leader-election
        command:
        - /manager
        image: skyscanner/kms-issuer:dev
        name: manager
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 100m
            memory: 20Mi
      - args:
        - --secure-listen-address=0.0.0.0:8443
        - --upstream=http://127.0.0.1:8080/
        - --logtostderr=true
        - --v=10
        image: gcr.io/kubebuilder/kube-rbac-proxy:v0.5.0
        name: kube-rbac-proxy
        ports:
        - containerPort: 8443
          name: https
      terminationGracePeriodSeconds: 10
